<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>QFint</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
   
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
     {% block css %}
  <link rel="stylesheet" href="{{ media_url('css/styles.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/pygment_trac.css') }}">
  {% endblock css %}
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
	<a href= {{site.content.resource_from_relative_path("index.html").url}}><img alt="Airport" src="/media/images/logo.png"></a>
	
        <p>Economics, Finance, Econometrics</p>
      </header>
         
{% block main %}
{% endblock main %}
      
      <footer>
        <p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
